SECRET_KEY=your-secret-key-here
DEBUG=True
DATABASE_URL=postgres://postgres:dhruva@localhost:5432/spotter_db
ORS_API_KEY=eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6Ijc5NWYzMjQ4NWQyZjRiNjU5ZmJlZDNjOGYzYWVlODgxIiwiaCI6Im11cm11cjY0In0=
ALLOWED_HOSTS=*
CORS_ALLOW_ALL_ORIGINS=True
